@import url(reset.css);

[class*="__container"]{
  max-width: 1260px;
  margin: 0 auto;
  padding:50px 50px ;
}

.car {
  position: relative;
  left: 0px;
  top: 100px;
}
.car__top {
  position: relative;
}

.window-line{
  position: absolute ;
  width: 2px;
  height: 70px;
  background-color:#000 ;
  left: 151px;
  top: -65px;
  transform: rotate(25deg);
}

.window-line-two {
  position: absolute ;
  width: 2px;
  height: 76px;
  background-color:#000 ;
  left: 139px;
  top: -72px;
  transform: rotate(25deg);
}

.window {
  position: absolute ;
  width: 10px;
  height: 74px;
  background-color:#2B93CF ;
  left: 140px;
  top: -69px;
  transform: rotate(25deg);

}

.door {
  position: relative;
}
.door-line-one {
  width: 100px;
  height: 3px;
  background-color: #AFAFAF;
  position: absolute;
  left: 141px;
  top: 1px;
}
.door-line-two {
  width: 80px;
  height: 3px;
  background-color: #AFAFAF;
  position: absolute;
  left: 200px;
  top: 41px;
  transform: rotate(90deg);
}
.door-line-three {
  width: 100px;
  height: 3px;
  background-color: #AFAFAF;
  position: absolute;
  left: 141px;
  top: 80px;
}

.door-line-three::before{
  content: "";
  width: 5px;
  height: 3px;
  background-color: #AFAFAF;
  position: absolute;
  left: 75px;
  top: -47px;
}

.steering-wheel {
  position: absolute ;
  width: 4px;
  height: 40px;
  background-color:#000 ;
  left: 151px;
  top: -31px;
  transform: rotate(47deg);
}

.steering-wheel-circle {
  position: absolute ;
  width: 4px;
  height: 25px;
  background-color:#000 ;
  left: 167px;
  top: -38px;
  transform: rotate(140deg);
}

.car__body{
  position: relative;
  left: 0px;
  top: 0px;
  background-color: #4566EA;
  width: 500px;
  height: 100px;
  border-radius: 40px;
}

.car__body::before{
  content: "";
  width: 40px;
  height: 20px;
  background-color:yellow ;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: -20px;
}
.car__body::after{
  content: "";
  width: 40px;
  height: 20px;
  background-color:red ;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: 465px;
}

.driver {
  position: absolute;
  left: 146px;
  top: -89px;
  width: 90px;
  transform: rotate3d(0, 1, 0, 70deg);
}

.driver img{
  width: 100%;
}

.wheels {
  position: relative;
}
.wheel-one {
  background-color: #5D5E60;
  width: 90px;
  height: 90px;
  border-radius: 64px;
  position: absolute;
  top: 62px;
  left: 30px;
}

.wheel-two{
  background-color: #5D5E60;
  width: 90px;
  height: 90px;
  border-radius: 64px;
  position: absolute;
  top: 62px;
  left: 347px;
}

.wheel-img{
  height: 80px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.wheel-two {
}