@import url(font.css);
@import url(reset.css);

/*?==========.continer__1==========*/

.container__1 {
  background:rgb(250, 250, 210);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.8;
}

/*?==========.attempt-1==========*/

.attempt{
  max-width: 1280px;
  margin: 10px  auto 10px auto;
  padding: 10px 10px;
}

.attempt-1{
  margin-top: 30px;
}

.attempt-1 .link{
  background-color: #E9967A;
  padding: 20px 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.8;
  color: green;
  transition: all 0.8s;
  display: inline-block;
}

.attempt-1 .link:hover{
  background-color: brown;
  color: blue;
  transition: all 0.8s;

}

.attempt-1 .link:active{
  background-color: #FFBF00 ;
  color: #45B39D ;
  transition: all 0.8s;

}


/*?==========.attempt-2==========*/
.attempt-2{
  margin: 50px 0px;
}

.attempt-2 .link{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.8;
  transition: all 0.8s;
  padding: 20px 40px;
  background-color: #1ABC9C;
  color: #BDC3C7;
  display: inline-block;

}



.attempt-2 .link:visited{
  color: #000;
  background: grey;
}

/*?==========.attempt-3==========*/
.attempt-3{
  margin: 50px 0px;
}

.attempt-3 .link{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.8;
  transition: all 0.8s;
  padding: 20px 40px;
  background-color: #2E86C1;
  color: #F4D03F;
  display: inline-block;

}

.attempt-3 .link:focus{
  background: #239B56;
  color:#ECF0F1 ;
}

/*?==========.target==========*/
/*==========.block-1==========*/

.target{
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.8;
}

/*block-1*/
.target .link-1 {  
  margin-right:20px;
}

.target .link-1:hover{
  color: #2874A6;
}


.target #block-1{
  width: 300px;
	height: 300px;
	background-color: #16A085;
	visibility: hidden;
  display: inline-block;
  text-align: center;
}

.target #block-1:target{
  visibility: visible;

}
/*?==========.target==========*/
/*==========.block-2==========*/
.target .link-2 {  
  margin-right:20px;
}

.target .link-2:hover{
  color: #2874A6;
}


.target #block-2{
  width: 300px;
	height: 300px;
	background-color: #B7950B;
  color: #F0F3F4;
	visibility: hidden;
  display: inline-block;
  text-align: center;
}

.target #block-2:target{
  visibility: visible;

}

/*?==========.target==========*/
/*==========.block-3==========*/
.target .link-3 {  
  margin-right:20px;
}

.target .link-3:hover{
  color: #2874A6;
}

.target #block-3{
  width: 300px;
	height: 300px;
	background-color: #B7950B;
  color: #F0F3F4;
	visibility: hidden;
  display: inline-block;
  text-align: center;
}

.target #block-3:target{
  visibility: visible;
}

/*?==========.practice-1==========*/
.practice-1{
  margin-top: 50px;
  border: solid 1px #F39C12;
  border-radius: 8px;
  padding: 10px 10px;
}


.practice-1 p:first-child{
  color: #1ABC9C;
}

.practice-1 p:last-child{
  color: #2874A6;
}

/*?==========.practice-2==========*/
.practice-2{
  margin-top: 50px;
  border: solid 1px #F39C12;
  border-radius: 8px;
  padding: 10px 10px;

}



.practice-2 p:first-of-type {
	background-color: #AF7AC5;
}

.practice-2 p:last-of-type{
  background-color: #E9967A;
}

/*?==========.practice-3==========*/
.practice-3{
  margin-top: 50px;
  border: solid 1px #7B241C;
  border-radius: 8px;
  padding: 10px 10px;
}



.practice-3 p:nth-child(even){
  background-color: #2E86C1;
}

.practice-3 p:nth-child(odd){
  background-color: #7B241C;
  color: white;
}

/*?==========.practice-4==========*/
.practice-4{
  margin-top: 50px;
  border: solid 1px #7B241C;
  border-radius: 8px;
  padding: 10px 10px;
}


.practice-4 p:nth-child(3n + 1){
  background-color: #979A9A;
}

.practice-4 p:nth-child(3n + 3){
  background-color: #273746;
  color: white;
}

/*?==========.practice-5==========*/
.practice-5{
  border: solid 1px #7B241C;
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 30px;
}

.practice-5 >*{
  margin-bottom: 30px;
  border: solid 1px #7B241C;
  border-radius: 8px;
  padding: 10px 10px;
}

.practice-5 >*:first-child{
  background-color: pink;
}

.practice-5 >*:last-child{
  margin-bottom: 0px;
  background-color: #239B56;
}

/*?==========.practice-6==========*/
.practice-6{
  margin: 50px 0px;
  border: solid 1px #7B241C;
  border-radius: 8px;
  padding: 10px 10px;

}

.practice-6 p::before{
  content:"I'm before";
  margin-right: 10px;
  color: #2E86C1;
}

.practice-6 p::after{
  content:"I'm after";
  margin-left: 10px;
  color: #B7950B;
}

/*?==========GAME==========*/
.game{
  margin:  0 auto;
  width: 1000px;
  height: 1000px;
  background: #16A085;
}

.line-1{
  background: #B03A2E;
  width:50px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
}

.line-2{
  background: #B03A2E;
  width:400px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 0px 0px -6px;
  visibility: hidden;
}

.line-1:hover ~ .line-2, 
.line-2:hover{
  visibility: visible;
}

.line-3{
  background: #B03A2E;
  width :50px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 0px 0px -6px;
  visibility: hidden;

}

.line-2:hover ~ .line-3, 
.line-3:hover{
  visibility: visible;
}

.line-4{
  background: #B03A2E;
  width :150px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin:170px 0px 0px -156px;
  visibility: hidden;

}

.line-3:hover ~ .line-4, 
.line-4:hover{
  visibility: visible;
}

.line-5{
  background: #B03A2E;
  width :150px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin:170px 0px 0px -305px  ;
  visibility: hidden;

}

.line-4:hover ~ .line-5, 
.line-5:hover{
  visibility: visible;
}

.line-6{
  background: #B03A2E;
  width: 50px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin:170px 0px 0px -205px  ;
  visibility: hidden;

}

.line-5:hover ~ .line-6, 
.line-6:hover{
  visibility: visible;
}

.line-7{
  background: #B03A2E;
  width: 49px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin:320px 0px 0px -55px  ;
  visibility: hidden;

}

.line-6:hover ~ .line-7, 
.line-7:hover{
  visibility: visible;
}

.line-8{
  background: #B03A2E;
  width: 150px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin:420px 0px 0px -6px  ;
  visibility: hidden;

}

.line-7:hover ~ .line-8, 
.line-8:hover{
  visibility: visible;
}

.line-9{
  background: #B03A2E;
  width: 150px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin:420px 0px 0px -6px  ;
  visibility: hidden;

}

.line-8:hover ~ .line-9, 
.line-9:hover{
  visibility: visible;
}

.line-10{
  background: #B03A2E;
  width: 50px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin:420px 0px 0px -6px  ;
  visibility: hidden;

}

.line-9:hover ~ .line-10, 
.line-10:hover{
  visibility: visible;
}

.line-11{
  background: #B03A2E;
  width: 150px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin:520px 0px 0px -205px  ;
  visibility: hidden;

}

.line-10:hover ~ .line-11, 
.line-11:hover{
  visibility: visible;
}

.line-12{
  background: #B03A2E;
  width: 250px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin:520px 0px 0px -405px  ;
  visibility: hidden;

}

.line-11:hover ~ .line-12, 
.line-12:hover{
  visibility: visible;
}

.line-13{
  background: #B03A2E;
  width: 50px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin:520px 0px 0px -305px  ;
  visibility: hidden;

}

.line-12:hover ~ .line-13, 
.line-13:hover{
  visibility: visible;
}

.line-14{
  background: #B03A2E;
  width: 50px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin:670px 0px 0px -56px  ;
  visibility: hidden;

}

.line-13:hover ~ .line-14, 
.line-14:hover{
  visibility: visible;
}

.line-15{
  background: #B03A2E;
  width: 150px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin:770px 0px 0px -6px ;
  visibility: hidden;

}

.line-14:hover ~ .line-15, 
.line-15:hover{
  visibility: visible;
}

.line-16{
  background: #B03A2E;
  width: 50px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin:770px 0px 0px -6px ;
  visibility: hidden;

}

.line-15:hover ~ .line-16, 
.line-16:hover{
  visibility: visible;
}

.line-17{
  background: #2E86C1;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin:920px 0px 0px -55px ;
  visibility: hidden;

}

.line-16:hover ~ .line-17, 
.line-17:hover{
  visibility: visible;
}

.line-1:hover ~ .line-2, 
.line-2:hover{
  visibility: visible;
}

.game__line-5:hover ~ .game__line-6,
.game__line-6:hover {
	/* display: block; */
	visibility: visible;
}


/*?==========*/

/*?==========PRACTICE-DZ==========*/
/*==========.container__2==========*/


.container__2 .content{
  margin: 40px auto 10px auto;
  padding: 10px 10px;
  max-width: 732px;
}

/**********universal**********/
.container__2 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%; 
}

.container__2 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
}

.container__2 h3{
  color: #6B77E5;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;

}
/********************/

/*===.content===*/
.container__2 .content .title h2{
  margin-bottom: 3px;
}

.container__2 .content .title {
  margin-bottom: 42px;
}

.container__2 .content .text h3{
  margin-bottom: 11px;
}

.container__2 .content .text{
  margin-bottom: 40px;
}
/*======*/
/*===.benefits===*/

.container__2 .benefits{
  font-size: 0px;
  margin-bottom: 50px;
}

.container__2 .benefits .benefits-img {
  margin-right: 29px;
  display: inline-block;
  vertical-align: top;
}

.container__2 .benefits .benefits-img img{
  max-width: 331px;
}


.container__2 .benefits .benefits-text{
  display: inline-block;
  max-width: 332px;
  vertical-align: top;
}

.container__2 .benefits .benefits-text h4{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%; 
  margin-bottom: 15px;
}

.container__2 .benefits .benefits-text h5{
  color: #40DDB6;
  font-family:"Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
  margin-bottom: 21px; 
}

.container__2 .benefits .benefits-text li{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
}

.container__2 .benefits .benefits-text li::before{
  content: "";
  background: url("../img/Vector.jpg") center no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-bottom: -8px;
  margin-right: 8px;
}

.container__2 .benefits .benefits-text li:not(:last-child){
  margin-bottom: 30px;
}


.container__2 .same-title h2{
  margin-bottom: 4px;
}

/*======*/
/*==========.container__3==========*/

.container__3 .content{
  max-width: 713px;
  padding: 10px 10px;
  margin: 40px auto 10px auto ;
}

/**********universal**********/
.container__3 h3{
  color: #37393F;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container__3 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 121%; 
}

.container__3 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
}

.container__3 h4{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/********************/
/*title*/
.container__3 .title{
  max-width: 413px;
  margin-bottom: 10px;
}

.container__3 .title h3{
  margin-bottom: 16px;
}

.container__3 .title h3::before{
  content: "";
  width: 12px;
  height: 12px;
  background: url("../img/Rectangle8.jpg") center no-repeat;
  display: inline-block;
  margin-right: 6px;
}

/*text*/
.container__3 .text{
  margin-bottom: 48px;
}

.container__3 .text p:first-of-type{
  margin-bottom: 16px;
}

.container__3 .necessary{
  margin-bottom: 48px;
}

/*necessary-1*/
.container__3 .necessary-1{
  border: solid 1px #E3E3E3;
  padding: 28px 41px 28px 38px;
  margin-bottom: 31px;

}


.container__3 .necessary-content-1 h4{
  margin-bottom: 12px;
}

.container__3 .necessary-content-1 h4::before{
  content: "";
  background: url("../img/Vector.jpg") center / cover no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-bottom: -7px;
  margin-right: 8px;
}

.container__3 .necessary-content-1 p{
  padding-left: 35px ;
}

/*necessary-2*/
.container__3 .necessary-2{
  border: solid 1px #E3E3E3;
  padding: 28px 41px 28px 38px;

}

.container__3 .necessary-content-2 h4{
  margin-bottom: 12px;
}

.container__3 .necessary-content-2 h4::before{
  content: "";
  background: url("../img/Vector.jpg") center / cover no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-bottom: -7px;
  margin-right: 8px;
}

.container__3 .necessary-content-2 p{
  padding-left: 35px ;
}

.container__3 .btn{
  background: #6B77E5;
  padding: 21px 35px 22px 35px;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  display: inline-block;
}

.container__3 .btn:hover{
  text-decoration: underline;
  color: #000;
}

/*======*/
/*==========.container__4==========*/
.container__4{
  margin-top: 50px;
}

.container__4 .process{
  margin: 40px auto 10px auto;
  max-width: 1260px;
  padding: 10px 10px;
}

.container__4 .title{
  text-align: center;
  margin-bottom: 41px;
}

.container__4 .title h3{
  color: #37393F;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container__4 .title h3::before{
  content: "";
  width: 12px;
  height: 12px;
  background: url("../img/Rectangle8.jpg") center no-repeat;
  display: inline-block;
  margin-right: 6px;
}

.container__4 .title h2{
  color: #37393F;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 121%; 
  margin-bottom: 16px;
}

/*********block universal*********/
.container__4 h3{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
  margin-bottom: 16px;
}

.container__4 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%; 
  margin-bottom: 37px;
}

.container__4 a{
  color: #6B77E5;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.container__4 a:hover{
  color: #239B56;
}


/******************/

/*===block-1===*/
.container__4 .block-1{
  max-width: 386px;
  text-align: center;
  display: inline-block;
  margin-right: 27px;
}

.container__4 img{
  width: 72px;
  border-radius: 32px;
  text-align: center;
  margin-bottom: -32px;
}

.container__4 .block-1-text{
  background: #F4F4F4;
  padding: 58px 43px;
} 

/*===block-2===*/

.container__4 .block-2{
  max-width: 386px;
  text-align: center;
  display: inline-block;
  margin-right: 27px;

}

.container__4 img{
  width: 72px;
  border-radius: 32px;
  text-align: center;
  margin-bottom: -32px;
}

.container__4 .block-2-text{
  background: #F4F4F4;
  padding: 58px 43px;
} 

/*===block-3===*/

.container__4 .block-3{
  max-width: 386px;
  text-align: center;
  display: inline-block;
}

.container__4 img{
  width: 72px;
  border-radius: 32px;
  text-align: center;
  margin-bottom: -32px;
}

.container__4 .block-3-text{
  background: #F4F4F4;
  padding: 58px 43px;
} 

/*======*/
/*==========.container__5==========*/

.container__5 .content{
  margin: 40px auto 10px auto;
  padding: 10px 10px;
  max-width: 1254px;
}

.container__5 .title{
  display: inline-block;
  max-width: 488px;
}

.container__5 h2{
  color: #000;
  font-family: "Cormorant Infant";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; 
  max-width: 488px;
  margin: 150px 0px 13px 0px;
}

.container__5 .line{
  width: 304px;
  border-top: 3px solid #78473B;
}

/*Ring-1*/
.container__5 .ring-1{
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
  margin-right: 39px;
}

.container__5 .ring-img-1{
  border: solid 1px #000;
}

.container__5 .ring-img-1 img{
  margin: 9px -10px -9px 10px;
  max-width: 334px;
}

.container__5 .link{
  margin-top: 34px;
  color: #000;
  font-family: "Cormorant Infant";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; 
}

.container__5 .link a{
  margin-bottom: 5px;

}

.container__5 .link a:hover{
  color: #78473B;
  text-decoration: underline;
}

/*ring-2*/
.container__5 .ring-2{
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
  max-width: 339px;
}

.container__5 .ring-2 .price{
  color: #000;
  font-family: "Cormorant Infant";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%; 
  margin-bottom: 31px;
}

.container__5 .ring-img-2{
  border: solid 1px #000;
}

.container__5 .ring-2 img{
  margin: 9px -10px -9px 10px;
  max-width: 334px;
}