@import url(fonts.css);
@import url(reset.css);

[class*="__container"]{
  margin: 0 auto;
  padding: /*0px*/ 15px;
  max-width: 1270px;

}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}


/*==========header==========*/

/*==========main==========*/
/*?Stock*/
.stock__container {
  color: #FFF;
  font-family: "Core Sans C";
  font-style: normal;
  margin-bottom: 100px;
}
.stock__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
}

.stock__item-position{
  position: relative;
}

.stock__item-img{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
  aspect-ratio: 605 / 356;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;

}


.stock__item {
  padding: 67px 15px 84px 32px;
  transition: all 0.3s linear;
  border-radius: 12px;
}

.stock__item-body{
  max-width: 264px;
}


.stock__item-sub-title{
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 800;
  line-height: 30.067px; /* 167.038% */
  letter-spacing: 0.251px;
}

.stock__item-title {
  font-family: "Core Sans C";

  font-size: 34px;
  font-weight: 800;
  line-height: 45.1px; /* 132.648% */
  margin-bottom: 9px;
}
.stock__item-discount {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.056px; /* 156.598% */
  letter-spacing: 0.251px;
  margin-bottom: 42px;
}
.stock__item-link {
  font-size: 20px;
  font-weight: 800;
  line-height: 30.132px; /* 150.66% */
}
@media (any-hover: hover){
.stock__item-link:hover{
  text-decoration-line: underline;

}
}
@media(max-width: 1024px){
  .stock__items{
    grid-template-columns: auto;
  }
  .stock__item-img{
    object-position: top;
  }
}

@media(max-width: 480px){
  .stock__container{
    margin-bottom: 50px;
  }
  .stock__item-img{
    object-position: right center;
  }
}




/*?Arrival*/
.arrival__container {
  color: #3C4242;
  font-style: normal;
  position: relative;
}
.title {
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px; /* 98.529% */
  letter-spacing: 0.68px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 70px;
}

.title::before{
  content: "";
  border-radius: 10px;
  background: #8A33FD;
  width: 6px;
  height: 30px;
}

.btn {
  position: absolute;
  transition: all 0.3s;
}
@media (any-hover: hover){
.btn:hover{
  transform: scale(1.1);
  transform: scaleX(1.3);
}
.btn-left:hover{
  left: -5px;
}

.btn-right:hover{
  right: -5px;
}
}
.btn-left{
  left: 0;
  top: 60%;
}

.btn-right{
  right: 0;
  top: 60%;
}

.arrival__items {
  gap:38px ;
  max-width: 1167px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22.222%, 1fr));
}

.arrival__item{
  display: flex;
  flex-direction: column;

}
.arrival__link {
  margin-bottom: 33px;
  transition: all 0.3s;

}
.arrival__link-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 263 / 263;
  object-fit: cover;
  border-radius: 12px;

}
@media (any-hover: hover){
.arrival__link:hover{
 transform: scale(1.1); 

}
}
.arrival__product-name-link {
  font-family: "Causten";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
}

@media (any-hover: hover){
.arrival__product-name-link:hover{
  text-decoration: underline;
}
}
@media(max-width:1056px){
  .arrival__items {
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
  }

  .arrival__item{
    text-align: center;
  }

  .btn{
    display: none;
  }
}

@media(max-width:480px){
  .title{
    margin-bottom: 30px;
    font-size: 26px;
  }
  .arrival__items {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

/*?saving zone*/
.saving-zone__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: stretch;
  gap: 20px;
}
.saving-zone__item {
  display: grid;
  grid-column: span 2;
}


.saving-zone__item:nth-child(1) {
  padding: 64px 15px 65px 20px;
}
.saving-zone__item:nth-child(2) {
  justify-items: flex-end;
  padding: 34px 25px 41px 15px;
}
.saving-zone__item:nth-child(3) {
  justify-items: flex-end;
  padding: 65px 17px 68px 15px;
}
.saving-zone__item:nth-child(4) {
  justify-items: flex-end;
  padding: 45px 120px 51px 15px;
}
.saving-zone__item:nth-child(5) {
  padding: 45px 96px 51px 15px;
  justify-items: flex-end;

}


.saving-zone__item:nth-child(4),
.saving-zone__item:nth-child(5){
  grid-column: span 3;

}

.saving-zone__item-position {
  position: relative;
}

.white {
  color: #FFF;
  font-family: "Causten";
  font-style: normal;
  line-height: normal;
}
.saving-zone__item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
  border-radius: 12px;
}

.small {
  aspect-ratio: 400/ 393;
}
.big {
  aspect-ratio: 610 / 393;

}
.saving-zone__body {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.saving-zone__item:nth-child(1) .saving-zone__body{
  align-items: flex-start;
  max-width: 147px;
}
.saving-zone__item:nth-child(2) .saving-zone__body{
  max-width: 153px;
  align-items: flex-end;

}
.saving-zone__item:nth-child(3) .saving-zone__body{

  max-width: 156px;
  align-items: flex-start;
}
.saving-zone__item:nth-child(4) .saving-zone__body{

  max-width: 133px;

}
.saving-zone__item:nth-child(5) .saving-zone__body{

  max-width: 164px;
}

.saving-zone__title{

  font-family: "Core Sans C";
}
.saving-zone__item:nth-child(1) .saving-zone__title,
.saving-zone__item:nth-child(2) .saving-zone__title,
.saving-zone__item:nth-child(3) .saving-zone__title{
  font-size: 28px;
  font-weight: 600;
  line-height: 38.431px; 
  letter-spacing: 0.56px;
}
.saving-zone__item:nth-child(1) .saving-zone__title {
  margin-bottom: 9px;
}
.saving-zone__item:nth-child(2) .saving-zone__title {
  text-align: right;
  margin-bottom: 15px;
}
.saving-zone__item:nth-child(3) .saving-zone__title {
  margin-bottom: 9px;
}
.saving-zone__item:nth-child(4) .saving-zone__title,
.saving-zone__item:nth-child(5) .saving-zone__title {
  font-family: "Core Sans C";
  font-size: 32px;
  font-weight: 600;
  line-height: 43.922px; 
  letter-spacing: 0.64px;
  margin-bottom: 11px;
}


.saving-zone__item:nth-child(1)  .saving-zone__info,
.saving-zone__item:nth-child(2)  .saving-zone__info,
.saving-zone__item:nth-child(3)  .saving-zone__info{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
.saving-zone__item:nth-child(4)  .saving-zone__info,
.saving-zone__item:nth-child(5)  .saving-zone__info{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}


.saving-zone__item:nth-child(1) .saving-zone__discount,
.saving-zone__item:nth-child(2) .saving-zone__discount,
.saving-zone__item:nth-child(3) .saving-zone__discount{
  font-size: 18px;
  font-weight: 700;
}
.saving-zone__item:nth-child(1) .saving-zone__discount {
  margin-bottom: 31px;
 }
.saving-zone__item:nth-child(2) .saving-zone__discount {
  margin-bottom: 27px;
}
.saving-zone__item:nth-child(3) .saving-zone__discount {
  margin-bottom: 31px;
}
.saving-zone__item:nth-child(4) .saving-zone__discount,
.saving-zone__item:nth-child(5) .saving-zone__discount {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 37px;
}

.saving-zone__item:nth-child(4) .saving-zone__discount{
  font-size: 19.4px;
}

.saving-zone__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saving-zone__item:nth-child(1) .saving-zone__links,
.saving-zone__item:nth-child(2) .saving-zone__links{
  gap: 30px;
}

.saving-zone__item:nth-child(3) .saving-zone__links{
  gap: 37px;
}

.saving-zone__item:nth-child(4) .saving-zone__links,
.saving-zone__item:nth-child(5) .saving-zone__links{
  gap: 44px;
}

.saving-zone__btn {
  transition: all 0.3s;
  padding: 9px 25px ;
  border-radius: 4px;

}
@media (any-hover: hover){
.saving-zone__btn:hover{
  background: rgba(102, 32, 193, 0.03);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);}
}
.saving-zone__btn-black {
  border: 1px solid #3C4242;
}
.saving-zone__btn-white{
  border: 1px solid #FFF;
}

.btn-black {
  background: #3C4242;
  margin-bottom: 29px;
  font-size: 12px;
  font-weight: 700;
}
.black {
  color: #3C4242;
  font-family: "Causten";
  font-style: normal;
  line-height: normal;
}

@media(max-width:1024px){
  .saving-zone__items{
    grid-template-columns: repeat(4, 1fr);
  }
  .saving-zone__item:nth-child(4),
  .saving-zone__item:nth-child(5){
    grid-column: span 2;
  }
  .saving-zone__item-img{
    object-position: top;
  }
}

@media(max-width:786px){
  .saving-zone__items{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media(max-width:480px){
  .saving-zone__item:nth-child(1) {
    padding: 64px 15px 65px 15px;
  }
  .saving-zone__item:nth-child(2) {
    padding: 34px 15px 41px 15px;
  }
  .saving-zone__item:nth-child(3) {
    padding: 65px 15px 68px 15px;
  }
  .saving-zone__item:nth-child(4),
  .saving-zone__item:nth-child(5) {
    padding: 45px 15px 51px 15px;
  
  }
}


/*==========footer==========*/
