@import url(https://fonts.googleapis.com/css?family=Inter:regular,500);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:700);

@font-face {
  font-family: "Core Sans C 65";
  src: 
    url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
    url("../fonts/CoreSansC-65Bold.woff") format("woff");
}

@font-face {
  font-family: "Causten";
  src:
    url("../fonts/causten-bold-webfont.woff2") format("woff2"),
    url("../fonts/causten-bold-webfont.woff") format("woff");
}

@font-face {
  font-family:"Causten" ;
  src: 
    url("../fonts/causten-regular-webfont.woff2") format("woff2"),
    url("../fonts/causten-regular-webfont.woff") format("woff");
}