@import url(font.css);
@import url(reset.css);

body{
  max-width: 1218px;
  margin: 0 auto;
}

/*.container__1*/
.container__1{
  margin-top:50px;
}

.title-1{
  
  max-width: 1218px;
  margin: 0 auto;
}

/*?.header*/
.header{
  text-align: center;
  margin-bottom: 70px;
}

.header h4{
  margin-bottom: 16px;
  color: #37393F;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header h1{
  color: #37393F;
  text-align: center;
  font-family: "Poppins";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 121%;
}

/*?.icons-graphics*/
.icons-graphics{
  margin-bottom:32px ;
}

.icons-graphics h2{
  color: #37393F;
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 121%;
  margin-bottom: 11px;
}

.icons-graphics p{
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%; 
}

/*?.phosphor-icons*/
.phosphor-icons{
  margin-bottom: 100px;
}

.phosphor-icons h2{
  color: #37393F;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.phosphor-icons span{
  color: #40DDB6;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*?.photography*/
.photography{
  margin-bottom: 24px;
}

.photography h2{
  color: #37393F;
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 121%; 
  margin-bottom: 11px;
}

.photography p{
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
}

/*?.pexels*/
.pexels{
  margin-bottom: 24px;
}

.pexels h2{
  color: #37393F;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.pexels h2 span{
  color: #40DDB6;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pexels p span{
  color: #40DDB6;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%; 
}

/*?.unsplash*/
.unsplash{
  margin-bottom: 100px;
}

.unsplash h2{
  color: #37393F;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.unsplash h2 span{
  color: #40DDB6;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unsplash p span{
  color: #40DDB6;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%; 
}

/*?.fonts*/
.fonts {
  margin-bottom: 150px;
}

.fonts h2{
  color: #37393F;
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 121%;
  margin-bottom: 11px; 
}

.fonts p {
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
}

.fonts p span{
  color: #40DDB6;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.187%;
}

/****************************************/

/*?.container__2*/
.container__2{
  margin-top: 50px;
}

/*?.title-2*/
.title-2{
  max-width: 830px;
  margin: 0 auto;
}

/*h2*/
.title-2 h2{
  color: #37393F;
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%;
  margin-bottom: 13px;
}


/*p*/
.title-2 p{
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
  margin-bottom: 35px;
}

.title-2 li{
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.187%;
  margin-bottom: 35px;
  padding-left: 42px;
}

/***************************************/

/*.container__3*/
.container__3{
  margin-top: 50px;
}

/*?.title-3*/
.title-3{
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 21px;
}

/*h2*/
.title-3 h2{
  color: #3C4242;
  font-family: "Core Sans C 65";
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  line-height: 33.5px; 
  letter-spacing: 0.56px;
  margin-bottom: 30px;
}

/*h3*/
.title-3 h3{
  color: #807D7E;
  font-family: 'Core Sans C 65';
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  line-height: 33.5px; 
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

/*p*/
.title-3 p{
  color: #807D7E;
  font-family: "Causten";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.5px;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}

/*span*/

.title-3 span{
  color: #807D7E;
  font-family: "Causten";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.5px;
  letter-spacing: 0.4px;
}

/*****************************************/

.container__4{
  margin-top:50px ;
}

.title-4{
  max-width: 1103px;
  margin: 0 auto;
}

.title-4 h3{
  color: #D58417;
  font-family: "Cormorant Infant";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 27px; 
}

.title-4 h2{
  color: #000;
  font-family: "Cormorant Infant";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  margin-bottom: 31px;
}

.title-4 p{
  color: #606060;
  font-family: "Cormorant Infant";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; 
}

.text{
  display: inline-block;
  max-width: 503px;
  vertical-align: top;
  padding-top: 70px;
  margin-right: 75px;
}

.img-1{
  display: inline-block;
  vertical-align: top;
  padding-top: 85px;
  margin-right: 10px;

}

.img-2{
  display: inline-block;
  vertical-align: top;
}