@import url(fonts.css);
@import url(reset.css);

[class*="__container"]{
  max-width: 1280px;
  margin: 0 auto;
  padding:10px 10px ;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}


/*==========header==========*/
.header{
  padding-bottom: 15px;
  border-bottom: solid 1px #EDEEF2;
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: #fff;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Causten";
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  font-size: 18px;
  margin-top: 34px;
}

.header .form-container{
  display: flex;
  align-items: center;
 }
.header .form-container-parents{
  position:relative ;
}

.header .form-container img{
  flex-shrink: 0;
  position: absolute;
  left: 12px;
}

.header input{
  padding: 12px 48px;
  border-radius: 8px;
  background: #F6F6F6;

  color: #807D7E;
  font-size: 18px;
  font-weight: 500;
}






.langauge-list {
  position: relative;
  padding: 0px 5px;
}

.parents{
  position: relative;
  left: 0;
  top: 0;
  padding: 10px 0px;
}

.list-lvl-two{
  position: absolute;
  top: 100%;
  left:0 ;
  visibility: hidden;
  transition: 4ms;

}


.lvl-two-item:not(:last-child){
  padding-bottom: 8px;
}

.list-item-link:hover{
  text-decoration: underline;
}

.parents:hover .list-lvl-two{
  visibility: visible;
}

.list-item::after{
  content: "";
  background: url("../img/Vector.svg") no-repeat ;
  height: 10px;
  width: 12px;
  margin: 0px 0px 0px 19px;
  transition: 0.4s;
}

.langauge-list:hover .list-item::after{
  transform: rotate(180deg);
}

.list-item-link{
  transition: 4s;
}

.langauge-list a:hover{
  color: #6620C1;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
}

.logo-link-img{
  width: 100%;
}

.form__buttons {
  display: flex;
  gap: 29px;
}

.header .btn {
  text-align: center;
  padding: 12px 48px;
  transition: 0.4s;

}


.login {
  border-radius: 8px;
  background: #8A33FD;
  color: #fff;
}

.login:hover{
  border-radius: 8px;
  background: #6620C1;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
}

.sign-up {
  color: #8A33FD;
  border-radius: 8px;
  border: 1px solid #3C4242;
}

.sign-up:hover{
  border-radius: 8px;
  border: 1px solid #3C4242;
  background: rgba(102, 32, 193, 0.03);
}

/*==========main==========*/
.page__container{
  font-family: "Causten";
  font-style: normal;
  letter-spacing: 0.36px;
  line-height: normal; 
  color: #3C4242;
  padding-top: 150px;
}

.title {
  font-family: "Core Sans C";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.56px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.title::before{
  content: "";
  background: url("../img/before_title.svg");
  width: 6px;
  height: 28px;
}
.sub-title {
  font-family: "Core Sans C";
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.44px;
  margin-bottom: 50px;
}

/*Form 1*/
.page__container .form-container:nth-child(1){
  max-width: 802px;
  margin-bottom: 30px;
}

.form__flex-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
}
.form__flex {
  display: flex;
  flex-direction: row;
  gap: 38px;
  flex-wrap: wrap;

}
.form__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 auto;
  padding-bottom: 3px;

}
.form__label {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;


}
.form__input, .form__select-items {
  padding: 16px 20px;
  border-radius: 8px;
  background: #F6F6F6;
  color: #807D7E;
  font-size: 14px;
  font-weight: 400;
}

.form__input input{
  width: 100%;
}
.form__flex-row {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 25px;

}
.form__block-row{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 10px;
  justify-content: center;
  padding-bottom: 3px;
}


.form__block-row-last{
  max-width: 382px;
  margin-bottom: 40px;
}

.page__container .btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background: #8A33FD;
  padding: 16px 20px;
  transition: 0.4s;
}
.btn-delivery {
  margin-bottom: 20px;
}

.page__container .btn:hover{
  border-radius: 8px;
  background: #6620C1;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
}


.form__checkbox{
  display: flex;
  gap: 11px;
  padding-bottom: 3px;
}

.checkbox__label{
  font-size: 20.087px;
  font-weight: 400;
}

.checkbox__input{
  width: 20.087px;
  height: 20.087px;
  background-color: #BEBCBD;
  flex-shrink: 0;
}

/*Form 2*/
.page__container .form-container:nth-child(2){
  max-width: 840px;
  padding-top: 32px;
  border-top: solid 1px #EDEEF2;

  color: #3C4242;
  font-family: "Causten";
  font-style: normal;
  line-height: normal;
}

.label {
  font-family: "Core Sans C";
  font-size: 22px;
  font-weight: 600;
  line-height: 33.5px; 
  letter-spacing: 0.44px;
}

.label:nth-child(1){
  margin-bottom: 8px;
}

.label:nth-child(2){
  margin-bottom: 30px;
}
.sub-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.form__payment-method .sub-label:last-child{
  margin: 0px;
}

/***form__shipping-address***/
.form__shipping-address{
  padding-bottom: 30px;
  border-bottom: solid 1px #EDEEF2;
  margin-bottom: 30px;
}
.form__shipping-items{
  border-radius: 12px;
  background: #F6F6F6;
  padding: 38px 48px 39px 28px;
}

.form__shipping-items:nth-child(2){
  padding: 32px 48px 32px 26px;
}

.form__shipping-address .form__radio {
  display: flex;
  gap: 19px;
}

.form__shipping-address .form__radio:first-child{
  padding-bottom: 25px;
  border-bottom: solid 1px #BEBCBD;
}
.form__shipping-address .form__radio:last-child{
  padding-top: 25px;
}

.radio__input {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.shupping-fonts{
  font-size: 20px;
  font-weight: 700;
}

/***form__shipping-method***/
.form__shipping-method {
  padding-bottom: 30px;
  border-bottom:solid 1px #EDEEF2;
}

.form__shipping-item:first-child{
  padding-bottom: 25px;
  border-bottom: solid 1px #BEBCBD;
}

.form__shipping-item:last-child{
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__shipping-sub {
  color: #807D7E;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

/*form__payment-method*/
.form__payment-method{
  margin-top: 30px;
}

.form__shipping-items:nth-child(3){
  padding: 45px 48px 45px 28px;
  margin-bottom: 50px;
}

.form__payment-method .form__radio {
  display: flex;
  gap: 19px;
  align-items: center;
}

.form__payment-method 
.form__radio:not(:first-child):not(:last-child){
  padding: 30px 0px;
  border-bottom: solid 1px #BEBCBD;
}
.form__payment-method 
.form__radio:last-child{
  padding-top: 30px;
}
.form__cards {
  padding: 30px 23px 31px 37px;
  border-bottom: solid 1px #BEBCBD;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.form__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.form__list-item {
  flex-shrink: 0;

}

.radio-left{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.form__payment-method .form__input{
  border: 1px solid #3C4242;
  flex: 1 0 auto;
}

.form__inputs{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.form__group-input{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-end;
  position: relative;
}

.form__group-input img{
  position: absolute;
  top: 14px;
  padding-right: 20px;
}

.form__payment-method .form__radio:nth-child(2){
  padding: 30px 0px;
  border-bottom: solid 1px #BEBCBD;
}


/*==========footer==========*/
