@import url(font.css);
@import url(reset.css);



/*********************************************/

.container__1{
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

.background-1{
  background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,92,6,1) 24%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
}

.background-2{
  width: 1200px;
  height: 1600px;
  background:url("../img/7047b702475924ba8f8044b5b5ca56ba.jpeg") center / cover no-repeat;
  margin-bottom: 50px;
}

.background-3{
  height: 417px;
  background: url("../img/istockphoto-1292795919-612x612.jpg") 1200px repeat-x;
}

.background-4{
  margin-top: 50px;
  width: 800px;
  height: 417px;
  background: url("../img/istockphoto-1292795919-612x612.jpg") fixed;
}
/*********************************************/

.container__2{
  margin-top: 50px;
}

/*.content*/
.content{
  max-width: 673px;
  margin: 0 auto;
}

/*title*/
.content .title{
  max-width: 413px;
  margin-bottom: 20px;
}

/*h2-span, h3*/
.content .title h2{
  color: #37393F;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.content .title h2 span{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color:#40DDB6 ;
  margin-right: 6px;
}

.content .title h3{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 121%; 
}

/*.text-p*/
 .content .text{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
  margin-bottom: 5px;
}

.content .text p{
  margin-bottom: 15px;
}

/*ul li (.list)*/
.points ul{
  margin-bottom: 43px;
}

.points li{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65;
  background: url("../img/Vector.jpg") 0 3px no-repeat;
  max-height: 30px;
  padding-left: 35px;
  margin-bottom: 23px;
}


/*.point-experience*/
.point-experience{
  border:  1px solid #E3E3E3;
  max-width: 295px;
  display: inline-block;
  margin-right: 21px;
}

/*.experience*/
.experience{
  padding: 31px 32px 32px 32px;
}

/*.experience .points-1*/
.experience .points-1{
  max-width: 231px;
  background: url("../img/Icon1.jpg") no-repeat;
}

/*h2*/
.experience .points-1 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 58px;

}

/*p*/
.experience .points-1 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.187%;
  margin-left: 58px;
}

/*.point-awards-winner*/
.point-awards-winner{
  border:  1px solid #E3E3E3;
  max-width: 295px;
  display: inline-block;
}

/*.awards-winner*/
.awards-winner{
  padding: 31px 32px 32px 32px;
}

/*.points-2*/
.awards-winner .points-2{
  max-width: 231px;
  background: url("../img/Icon2.jpg") no-repeat;
}

/*.points-2 h2*/
.awards-winner .points-2 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 58px;

}

/*.points-2 p*/
.awards-winner .points-2 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.187%;
  margin-left: 58px;
}

/*.btn-a*/
.btn{
  background: #6B77E5;
  padding: 21px 27px 22px 27px;
  max-width: 184px;
  margin-top: 37px;
}

.btn a{
  color: #FFF;
  text-align: center;
  font-family:"Inter", sans-serif ;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

/*********************************************/

/*?.container__3*/
.container__3{
  margin-top: 50px;
}

/*.project__list*/
.project__list{
  max-width: 1220px;
  margin: 0 auto;
}

/*.content*/
.project__list .content{
  max-width: 852px;
  text-align: center;
  margin-bottom: 47px;
}

/*.content h2*/
.project__list .content h2{
  color: #37393F;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 14px;
}

/*.content h2 span*/
.project__list .content h2 span{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color:#40DDB6 ;
  margin-right: 6px;
}

/*.content h3*/
.project__list .content h3{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 121%; 
  margin-bottom: 14px;

}

/*.content p*/
.project__list .content p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
}

/*********************************************/
/*.projects__1*/
.projects__1{
  margin-bottom: 58px;
}


/*?.block-1*/
.projects-block-1{
  display: inline-block;
  margin-right: 30px;
}

.block-1{
  background: url("../img/Image01.jpg") no-repeat;
  width: 384px;

}

.block-1 .content-1{
  padding-top: 525px;
}

.block-1 .content-1 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
}

.block-1 .content-1 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
  background: url("../img/Group22.jpg") no-repeat;
  padding-left: 25px;
  margin-top: 10px;
}

/*?.block-2*/
.projects-block-2{
  display: inline-block;
  margin-right: 30px;

}

.block-2{
  background: url("../img/Image02.jpg") no-repeat;
  width: 384px;

}

.block-2 .content-2{
  padding-top: 525px;
}

.block-2 .content-2 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
}

.block-2 .content-2 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
  background: url("../img/Group22.jpg") no-repeat;
  padding-left: 25px;
  margin-top: 10px;
}

/*?.block-3*/
.projects-block-3{
  display: inline-block;

}

.block-3{
  background: url("../img/Image03.jpg") no-repeat;
  width: 384px;

}

.block-3 .content-3{
  padding-top: 525px;
}

.block-3 .content-3 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
}

.block-3 .content-3 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
  background: url("../img/Group22.jpg") no-repeat;
  padding-left: 25px;
  margin-top: 10px;
}

/*?.block-4*/
.projects-block-4{
  display: inline-block;
  margin-right: 30px;

}

.block-4{
  background: url("../img/Image04.jpg") no-repeat;
  width: 384px;

}

.block-4 .content-4{
  padding-top: 525px;
}

.block-4 .content-4 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
}

.block-4 .content-4 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
  background: url("../img/Group22.jpg") no-repeat;
  padding-left: 25px;
  margin-top: 10px;
}

/*?.block-5*/
.projects-block-5{
  display: inline-block;
  margin-right: 30px;

}

.block-5{
  background: url("../img/Image05.jpg") no-repeat;
  width: 384px;

}

.block-5 .content-5{
  padding-top: 525px;
}

.block-5 .content-5 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
}

.block-5 .content-5 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
  background: url("../img/Group22.jpg") no-repeat;
  padding-left: 25px;
  margin-top: 10px;
}

/*?.block-6*/
.projects-block-6{
  display: inline-block;

}

.block-6{
  background: url("../img/Image06.jpg") no-repeat;
  width: 384px;

}

.block-6 .content-6{
  padding-top: 525px;
}

.block-6 .content-6 h2{
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
}

.block-6 .content-6 p{
  color: #7D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.187%;
  background: url("../img/Group22.jpg") no-repeat;
  padding-left: 25px;
  margin-top: 10px;
}

/*********************************************/
/*?.container__4*/
.container__4{
 margin-top: 50px;
}

/*.clothing-for-women*/
.clothing-for-women{
  max-width: 1240px;
  margin:0 auto;
  padding-left: 21px;
}

/*.submit-title h2*/
.container__4 .submit-title h2{
  color: #3C4242;
  font-family: "Core Sans C";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 0.56px;
  margin-bottom: 30px;
  background: url("../img/Rectangle21.jpg") 0 2px no-repeat;
  padding-left: 21px;
}

/*.clothing-for-women .info-1 h4*/
.container__4 .clothing-for-women .info-1 h4{
  color: #807D7E;
  font-family: "Core Sans C";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

/*?.info*/
.info{
  padding-left: 21px;
}

.info-1{
  margin-bottom: 5px;
}

.clothing-for-women .info-1 p{
  color: #807D7E;
  font-family: "Causten";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.5px; 
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}

.clothing-for-women .info-1 p span{
  color: #807D7E;
  font-family:"Causten" ;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.5px;
  letter-spacing: 0.4px;
}

.clothing-for-women .info-2 p{
  color: #807D7E;
  font-family: "Causten";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.5px; 
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}

.clothing-for-women .info-2 h4{
  color: #807D7E;
  font-family: "Core Sans C";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

.clothing-for-women .info-2 span{
  color: #807D7E;
  font-family:"Causten" ;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.5px;
  letter-spacing: 0.4px;
}

.clothing-for-women .link a{
  color: #807D7E;
  font-family: "Core Sans C";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.5px; 
  letter-spacing: 0.4px;
}
/*********************************************/
/*?.container__5*/
.container__5{
  margin-top: 50px;
}

/*.background*/
.container__5 .background-1{
  display: inline-block;
  vertical-align: middle;
  width: 614px;
  height: 639px;
  background:
  url("../img/unsplash_bBiuSdck8tU.jpg") no-repeat;
}

.container__5 .background-2{
  display: inline-block;
  width: 614px;
  height: 640px;
  vertical-align: middle;
  background: 
  url("../img/Rectangle13.jpg") center top / cover no-repeat;
  margin: -1px 0px 0px -4px;
}

/*.purchases*/
.purchases{
  max-width: 1240px;
  margin: 0 auto;

}

/*.text*/
.purchases .text{
  padding: 183px 74px 0px 74px;
}

/*h2*/
.purchases .background-1 .text h2{
  color: #FFF;
  font-family: "Core Sans C";
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0.208px;
}

/*p*/
.purchases .background-1 .text p{
  color: #FFF;
  font-family: "Causten";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

/*.btn*/
.purchases .btn{
  padding: 12px 44px;
  border-radius: 8px;
  background: #FFF;
}

.purchases .btn a{
  color: #3C4242;
  text-align: center;
  font-family: "Causten";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}