// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";

[class*="__container"]:not([class*="form__container"]){
  margin: 0 auto;
  padding: /*0px*/ 15px;
  max-width: 1270px;

}

$mainColorBlack:#3C4242;
$mainColorWhite:#fff;
$textBrandColor:#7F7F7F;
$textColor:#807D7E;
$discountColor:#FBD103;
$bcColorIcon:#F6F6F6;
$mediaColor:#8D8D8D;

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
  main {
    flex-grow: 1;
  }
}

body{
  background: url("../img/1618631245_10-phonoteka_org-p-povtoryayushchiesya-kartinki-dlya-fona-15.webp");
  font-family: "Causten";
  font-style: normal;
  line-height: normal;
}

/*==========Header==========*/

.header {
  padding: 15px 0px;
  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .header__image
  &__image {
    .image {
      // .image__logo
      &__logo {
        width: 100%;
        height: 100%;
        aspect-ratio: 91 / 45;
        object-fit: cover;
      }
    }
  }
  // .header__navbar
  &__navbar {
    .nav{
       // .nav__list
       &__list {
        display: flex;
        gap: 40px;
      }
      // .nav__item
      &__item {
      }
      // .nav__item-link
      &__item-link {
        color: $textColor;
        font-size: 22px;
        font-weight: 500;
        transition: all 0.4s;
        &:hover{
          color: $mainColorBlack;
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
  }
  // .header__form
  &__form {
      .form{
      // .form__constainer
      &__container {
        display: flex;
        align-items: center;
      }
      // .form__container-parents
      &__container-parents {
        position: relative;
      }
      // .form__search-img
      &__search-img {
        position: absolute;
        left: 12px;
       
      }
      // .form__input-search
      &__input-search {
        padding: 12px 48px;
        background: $bcColorIcon;
        border-radius: 8px;
      }
    }
  }
  // .header__list
  &__list {
    display: flex;
    gap: 12px;
      // .list__item
      &__item {
      }
      // .list__item-link
      &__item-link {
      }
      // .list__item-link-img
      &__item-link-img {
      }
  }
}

/*==========Main==========*/

.hero {
  position: relative;
  color: $mainColorWhite;
  font-family: "Core Sans C";

  &__image-block{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -99;
  }

  // .hero__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top ;

    /*@media(max-width:785.98px){
      object-position: top;
    }
    */
  }

  &__btn{
    position: absolute;
    top: 50%;
    text-align: center;
    @media(max-width:785.98px){
      >img{
        display: none;
       }
    }


  }
  
  &__btn--left{
    left: 40px;
  }

  &__btn--rigth{
    right: 40px;
  }

  &__scroll{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 49px;
    @media(max-width:785.98px){
      >svg{
        transform: scale(0.50);
       }
    }
    @media(max-width:479.98px){
      bottom: 6px;
      transform: scale(0.45);

    }
  }

  // .hero__container
  &__container {
  }
  // .hero__info
  &__info {
    padding: 129px 15px 132px 87px ;
    @media(max-width:785.98px){
      padding: 65px 15px 66px 43px ;
    }
    @media(max-width:479.98px){
      padding: 0 ;
    }
  }
  // .hero__product
  &__product {
    font-size: 32px;
    font-weight: 500;
    line-height: 37.771px; /* 118.035% */
    letter-spacing: 0.157px;
    text-transform: capitalize;
    margin-bottom: 40px;
    @media(max-width:785.98px){
      font-size: 18px;
      margin-bottom: 24px;

    }
    @media(max-width:479.98px){
      font-size: 9px;
      margin-bottom: 12px;
      line-height: normal;
    }
  }
  // .hero__title
  &__title {
    font-size: 78px;
    font-weight: 800;
    line-height: 93.622px; /* 120.028% */
    letter-spacing: 0.315px;
    margin-bottom: 40px;
    @media(max-width:785.98px){
      font-size: 34px;
      line-height: normal;
      margin-bottom: 20px;
    }
    @media(max-width:479.98px){
      font-size:17px ;
    }
  }
  // .hero__feature
  &__feature {
    font-size:32px;
    font-weight: 500;
    line-height: 47.214px; /* 147.544% */
    letter-spacing: 0.315px;
    margin-bottom: 40px;
    @media(max-width:785.98px){
      font-size: 16px;
      margin-bottom: 20px;
      line-height: normal;

    }
    @media(max-width:479.98px){
      font-size:9px ;
    }
  }
  // .hero__link
  &__link {
    padding: 16px 72px;
    background: $mainColorWhite;
    border-radius: 8px;
    color: $mainColorBlack;
    font-family: "Causten";
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    transition: all 0.4s;
    &:hover{
      background: $textBrandColor;
      //background: rgba(102, 32, 193, 0.03);
      color: $mainColorWhite;
      /* Button_shadow */
      box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
    }
    @media(max-width:785.98px){
      font-size: 16px;
      padding: 6px 10px;
    }
    @media(max-width:479.98px){
      font-size:9px ;
      padding: 4px 7px;

    }
  }
}



.stock {
  color: $mainColorWhite;

  // .stock__container
  &__container {
  }
  // .stock__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media(max-width:785.98px){
      grid-template-columns: auto;
    }
    }
  // .stock__item
  &__item {
    position: relative;
    padding: 57px 15px 57px 30px;
    word-break: break-all;
    @media(max-width:479.98px){
      padding:20px 0px 20px 15px;
    }
  }
  // .stock__item--first
  &__item--first {
  //    padding:67px 15px 80px 28px;
    
  }
  // .stock__item--last
  &__item--last {
  //    padding: 57px 15px 55px 30px;
  }
  // .stock__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
  }
  // .stock__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    @media(max-width:/*785*/479.98px){
      object-position: top;
    }
    /*
    @media(max-width:394.98px){
      object-position: right;
    
    }
      */
  }
  // .stock__item-body
  &__item-body {
    max-width: 264px;
  }
  // .stock__sub-title
  &__sub-title {
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 30.067px; /* 167.038% */
    letter-spacing: 0.251px;
    margin-bottom: 24px;
    @media(max-width:479.98px){
      font-size:9px ;
      margin-bottom: 12px;
      line-height: normal;
    }
  }
  // .stock__title
  &__title {
    font-size: 34px; 
    font-weight: 800;
    line-height: 45.1px; /* 132.648% */
    margin-bottom: 9px;
    @media(max-width:497.98px){
      font-size:17px ;
      margin-bottom: 5px;
      line-height: normal;
    }
  }
  // .stock__sale
  &__sale {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.056px; /* 156.598% */
    letter-spacing: 0.251px;
    margin-bottom: 42px;
    @media(max-width:479.98px){
      font-size:8px ;
      margin-bottom: 21px;
      line-height: normal;
    }
  }
  // .stock__link
  &__link {
    font-size: 20px;
    font-weight: 800;
    line-height: 30.132px; /* 150.66% */
    &:hover{
      text-decoration: underline;
    }
    @media(max-width:479.98px){
      font-size:10px ;
      line-height: normal;
    }
  }

}

.arrival {
  position: relative;

  // .arrival__container
  &__container {
  }
  // .arrival__title
  &__title {
    .title {
    }
  }
  // .arrival__btn
  &__btn {
    position: absolute;
    bottom: 50%;
  }
  // .arrival__btn--left
  &__btn--left {
    left: 0;
  }
  // .arrival__btn-svg
  &__btn-svg {

  }
  // .arrival__btn--right
  &__btn--right {
    right:0;
  }
  // .arrival__items
  &__items {
    max-width: 1167px;
    overflow-x:auto;
    overflow-y: hidden;
    margin: 0 auto;
    display: flex;
    gap: 38px;
    flex-wrap: nowrap;

  }
  // .arrival__item
  &__item {
    flex: 1 0 22.222%;
    @media(max-width:1150.98px){
      flex: 1 0 30.8%;
    }
    @media(max-width:527.98px){
      flex: 1 0 48%;

    }
  }
  // .arrival__image-block
  &__image-block {
    width: 100%;
    height: 100%;
  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 263 / 263;
    
  }
   // .arival__product-name
  &__product-name {
    color: #3C4242;
  }
}








