@font-face {
  font-family: "Causten";
  src: url(../fonts/Causten-Black-Oblique.woff) format("woff");
} 

@font-face {
  font-family: "ghostings";
  src: url(../fonts/ghostings.woff) format("woff");
}

@font-face {
  font-family: "Stupid-Meeting";
  src: url(../fonts/Stupid-Meeting_D.woff) format("woff");
}