@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);


.title-exercise-1{
  color: #37393F;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 38.10px;
  text-transform: capitalize;
}

.text{
  color: #7D7D7D;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 26.31px;
}

.text-blue{
  color: #6B77E5;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 25.40px;
}

.title__exercise-2{
  color: #37393F;
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 50.80px;
}

.text-list{
  color: #7D7D7D;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 26.31px;
}

.page-2{
  color: #00f000;
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
}